.header{
    background-color: aqua;
    width: auto;
    height: 50px;
}
.header a{
    margin-left: 50px;
    text-decoration: none;
    line-height: 50px;
}
.header a:hover{
    color: white;
    background-color: black;
    padding: 10px 0px;
}
.active {
    background-color: lightcoral;
    padding: 10px 0px;
}